.one{
  height: 100vh;
  background-color: rgb(9, 2, 33);
  color: white;
}
.intro{
  width: 40vw;
  text-align: right;
  font-size: 50px;
  margin: 0px 0px 0px -100px ;
}
.intro h1{
  margin-top: 200px;
}
.intro h2{
  font-size: 25px;
}
.in{
  margin-top: 50px;
}
.country{
  margin-left: 470px;
  display: flex;
}
.card{
  display: flex;
  width: 80vw;
  margin: 20px 0px 0px 170px ;
  height: 40vh;
  border-radius: 20px;
  background-color: rgb(21, 21, 21);
}
.cright{
  width: 20vw;
  margin-top: 50px;
  margin-left: 45vw;
}

.line{
  font-size:20px ;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  margin: 25px 0px 10px 50px ;
}
.line h4{
  font-weight: 15px;
  font-weight: lighter;
}
.small{
  font-weight: 200;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */